.snortBox {
    margin: 0.5%;
    margin-top: 1%;
    padding: 10px;
    background-color: #e0e0e0;
    border: 1.5px solid;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.snortBox * {
    margin: 20px;
}

.snortBox p {
    font-size: 14px;
    color: white;
    line-height: 1.5;
}

.snortBox--h {
    background-color: rgb(191, 32, 32);
    width: 50%;
    height: 200px;
}

.snortBox--h-l {
    background-color: rgb(161, 6, 6);;
    width: 50%;
    height: 200px;
    float: left;
}

.snortBox--h-r {
    background-color: rgb(248, 58, 58);
    width: 49%;
    height: 300px;
    float: right;
}

.snortBox--v {
    background-color: rgb(28, 28, 196);
    width: 50%;
    height: 200px;
}

.snortBox--v-l {
    background-color: rgb(36, 36, 136);
    width: 49%;
    height: 200px;
    float: left;
}

.snortBox--v-r {
    background-color: rgb(5, 5, 133);
    width: 49%;
    height: 200px;
    float: right;
}